header {
    
    background-color: #0A91AB;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #FFC045;
}
header img{
    
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 0;
    margin-bottom: 10px;
    opacity: 50%;
}
#headerMenu{
    display: inline-flex;
    height: 45px;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #FFC045;
    font-family: Arial, Helvetica, sans-serif;
    
}
#hover:hover{
    color:#0A91AB;
}
h2{
    color: #0A91AB;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.flex-container {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0 60px 0 60px;
    list-style: none;
    border-radius: 50px;

  }
  .flex-item {
    background: white;
    padding: 0;
    width: 500px;
    height: 400px;
    margin-top: 30px;
    line-height: 10px;
    border-style: dashed;
    border-color: #FFC045;
    overflow: hidden ;
    border-radius: 10px;

}
#imageDiv{
    width: 500px;
    height: 200px;
    padding: 0;
}
h3{
    margin-top: 0;
    margin-bottom: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #FFC045;
    padding: 5px 5px;
}
#gameText{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: left;
    color: black;
    line-height: normal;
    padding: 5px 5px 5px;
    font-weight: lighter;
}
#masInfo{
   background-color: #FFC045;
   border-radius: 5px;
   font-family: Arial, Helvetica, sans-serif;
   color: rgba(122, 122, 122, 0.74);

}
#noticiasYAsidecontainer{
    display: flex;
    margin-top: 50px;
    
}

#asideContainer{
    display: flex;
    line-height: normal;
    flex-flow: column;
    justify-content: flex-start;
    width: 25%;
    background-color:#0a90ab3d;
    padding: 15px;
    margin-top: 10px;
    list-style: none;
    border-radius: 50px;
    border-color: rgba(0, 0, 0, 0.199);
    border-style: dashed;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: larger;
    color:#0A91AB   
    
}
#asideItem{
    padding-top: 15px;
    line-height: 10px;
    overflow: hidden ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #0a90ab00;
    color: #FFC045;


    
}
#asideText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-align: left;
    color: rgba(0, 0, 0, 0.76);
    line-height: normal;
}
#noticiasContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    list-style: none;
    margin-top: 15px;
    border-radius: 50px;
    text-align: center;
    color: #0A91AB;
    font-size: x-large;
}
#noticiasItem{
    color:#FFC045;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size:medium;
    margin-top: 15px;
    background: white;
    width: 500px;
    height: 500px;
    line-height: 20px;
    border-style: double;
    border-color:#0A91AB;
    overflow: hidden ;
    border-radius: 10px;
}
#fechaNoticia{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
    padding-left: 5px;
}
#rankContainer{
    display: flex;
    flex-flow: row wrap;
    padding-top: 30px;
    justify-content: center;
}
#rankText{
    color: #0A91AB;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}
#rankedPerson{
    justify-content: center;
}
#imgRank{
    border-radius: 100%;
    width: 50%;
    
}
figcaption{
    color: #FFC045;
    text-align: center;
}
